extends ../layout

block content

    h1.
         #{title}

    form#formLogin(name="register",method="post",action="/login")
    p Email:
      input#inputBadge(type="text", name="email")
    p Password:
      input#inputBadge(type="password", name="password")
    p
      input#inputDob(type="hidden", name="dob")
    p
      button#btnSubmit(type="submit") submit
